body {

    background-color: #111;

    color: white;

    font-family: Arial;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    margin: 0;
}

.container {

    text-align: center;
}

h1 {

    font-size: 50px;

    margin-bottom: 30px;
}

#question {

    font-size: 28px;

    margin-bottom: 30px;
}

button {

    font-size: 20px;

    padding: 12px 24px;

    margin: 10px;

    border: none;

    border-radius: 10px;

    cursor: pointer;
}

#yesButton {

    background-color: #28a745;

    color: white;
}

#noButton {

    background-color: #dc3545;

    color: white;
}

#doneButton {

    background-color: #007bff;

    color: white;
}

#playAgainButton {

    background-color: orange;

    color: white;

    display: none;
}

#yesButton,
#noButton {

    display: none;
}

#madeBy {

    margin-top: 30px;

    color: gray;

    display: none;
}